[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mkdocs-material = {extras = ["imaging"], version = "*"}
mkdocs-glightbox = "*"
mkdocs-awesome-pages-plugin = "*"
mkdocs-git-committers-plugin-2 = "*"
pillow = "*"
cairosvg = "*"

[dev-packages]

[requires]
python_version = "3"

[scripts]
serve = "mkdocs serve"
publish = "mkdocs build --site-dir public"
